body {
    background-color: #1f1f1f;
    color: #f7f7f7;
}

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: #5b5b5b;
    padding: 10px;
    text-shadow: 2px 2px 2px black;
    font-size: 3em;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px black;
}

#startButton {
    margin: 0 auto;
    display: block;
    background-color: #5b5b5b;
    color: #f7f7f7;
    padding: 10px;
    border: 3px solid #ffa600;
}

#img-and-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    /* set max width */
    max-height: 800px;
    /* set max height */
    background-color: #2b2b2b;
    margin-left: 15%;
    border: 2px solid #ff6b6b;
}

#picture {
    width: 100%;
    height: 80%;
    object-fit: contain;
    /* margin-left: 15%; */
}

#info {
    width: 100%;
    height: 100%;
    border-left: 2px solid #ff6b6b;
}


#info h2 {
    font-size: 1.5em;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
}

#info h3 {
    font-size: 1.2em;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
}

#info p {
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 5px;
}

#artbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 25px;
    border: 2px solid #3f72af;
}

#explanation {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #2b2b2b;
    padding: 10px;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 20px;
    border: 1px solid #5b5b5b;
    box-sizing: border-box;
}

#info h2, #info h3, #info p {
    color: black;
}

